@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.game_app {
	display: flex;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.game_header {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 5rem;
	align-items: center;
	background-color: #181a1a;
	z-index: 1;
}

.game_header .scores span {
	color: white;
	display: flex;
	justify-content: center;
}

.game_table {
	background-color: #181a1ae3;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.game_table .player {
	padding: 2rem;
	font-size: 1.1rem;
	color: white;
}

.wrapper-squares {
	display: grid;
	gap: 0.3rem;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	grid-area: a;
	height: 50%;
	width: 300px;
	justify-items: center;
}

.wrapper-squares .square {
	width: 4rem;
	height: 4rem;
	background-color: #181a1a;
	border-radius: 0.2rem;
	cursor: pointer;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.wrapper-squares .square .mark {
	font-size: 2rem;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper-squares .square .placeholder {
	display: none;
	font-size: 2rem;
	position: absolute;
	opacity: 0.3;
}

.wrapper-squares .square:hover .placeholder.active {
	display: flex;
	color: white;
}

/* .wrapper-squares .square:hover {
	transform: scale(1.1);
} */

.wrapper-squares .square.marked {
	transform: scale(1);
	opacity: 0.3;
}

.game_history {
	position: absolute;
	top: 130px;
	right: -340px;
	z-index: 0;
	width: 300px;
	background-color: #181a1a;
	border-radius: 0.3rem;
	overflow: hidden;
	transition: right 1s cubic-bezier(0.65,-0.2, 0.04, 1.08);
}

.game_history.open_history{
	right: 10px;
}

.game_history .header_history {
	height: 2.5rem;
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	color: #181a1a;
}

.game_history .header_history button {
	padding: 5px 10px;
	border-radius: 50%;
	background-color: tomato;
	cursor: pointer;
	font-size: 1rem;
	color: white;
}

.game_history  .body_history{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.game_history  .body_history .history_elem.primary{
	padding: 5px 10px;
	font-size: 1rem;
}

.game_history  .body_history .history_elem{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 5px 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: white;
	font-size: .8rem;
}

.game_history  .body_history .history_elem:last-child{
	border: none;
}

.game_history  .body_history  .message{
	color: rgba(255, 255, 255, 0.3);
	font-size: .8rem;
	padding: 10px;
}


.game_history  .body_history .history_elem button {
	padding: 3px 10px;
	border-radius: .3rem;
	cursor: pointer;
	background-color: rgb(0, 70, 128);
	color: white;
	font-weight: 700;
}

.game_controls {
	display: flex;
	padding: 1rem;
	justify-content: center;
	gap: 2rem;
	background-color: #181a1ae3;
}

.game_controls > button {
	padding: 10px 15px;
	border-radius: 0.2rem;
	cursor: pointer;
	font-weight: 700;
	color: white;
}

.game_controls .btn_green:focus {
	animation: btnZoom 0.7s ease;
}

.game_controls .btn_green {
	background-color: green;
}

.game_controls .btn_red {
	background-color: tomato;
	position: absolute;
	top: 50px;
	right: 10px;
	z-index: 0;
	transition: top 0.3s ease, opacity 0.3s ease;
	opacity: 0.5;
}

.game_controls .btn_red:hover {
	top: 55px;
	opacity: 1;
}

footer {
	display: flex;
	justify-content: flex-end;
	color: rgba(255, 255, 255, 0.5);
	background-color: #181a1ae3;
	padding: 10px;
}

@keyframes btnZoom {
	50% {
		transform: scale(1.1);
		background-color: azure;
		color: black;
	}
	100% {
		transform: scale(1);
	}
}
